<!--  step 7  output to the form inputs-->

                   
    <h3>#Artists</h3>
               
<br>

    <h2>Name:</h2><%= @artist.first_name + " " + @artist.last_name %><br><br>
    <h2>Nationality:</h2><%= @artist.nationality %><br><br>
    <h2>Period:</h2><%= @artist.period %><br><br>
    <h2>Date of Birth:</h2><%= @artist.date_of_birth %><br><br>
    <%= link_to 'Edit Artist', edit_artist_path %>
    <%= link_to 'Delete Artist', artist_path(@artist), method: :delete, data: { confirm: 'Are you sure?' } %>
  
        <h3><%= @artist.first_name + " " + @artist.last_name %>'s Paintings</h3>
    
        <% @painting.each do |painting| %>
        <li><%= link_to painting.title, painting do %></li>
    <%= image_tag 'image' %>
        <!-- <li><%= link_to painting.title, painting_path(painting)%></li> -->
        <% end %>