<% @posts.each do |post| %>

<h2><%= post["title"]%></h2>


<p><%=post["content"]%></p>


Author:  <a href = "http://<%=post["author_website"] %>"><%=post["author"]%></a>
<br>
<a href="/posts/new" role="button">New Post</a>
<a href = "/update/<%=post["id"]%>" role="button">Update Post</a>
<a href="/delete/<%=post["id"]%>" role="button">Delete Post</a>

<hr>


<% end %>