<h2><%= @animal.name %></h2>
<ul>
<li><strong>Species: </strong><%= @animal.species %></li><br>
<li><strong>Breed: </strong><%= @animal.breed %></li><br>
<li><strong>Arrived at the Center: </strong><%= @animal.arrival_time %></li><br>
<li><strong>Last day at the Centre: </strong><%= @animal.departure_time%></li><br>
<li><strong>Species: </strong><%= @animal.sex %></li>
</ul>

<%= link_to 'Back', animals_path %>