<h2>
  
  <%= @animal.name %>
</h2>
<ul>

<li>Species: <%= @animal.species %></li>
<li>Breed: <%= @animal.breed %></li>
<li>Arrival time:<%= @animal.arrival_time %></li>
<li>Departure time:<%= @animal.departure_time %></li>
<li>Age: <%= @animal.age %></li>
<li>Gender: <%= @animal.sex %></li>
</ul>
