<p>
   
    <h1><%= @post["title"] %></h1>
  </p>
  <p>

    <%= @post["content"] %>
  </p>
  <p>
    <strong>Author:</strong> <%= @authors["first_name"]%> <%= @authors["last_name"]%><br>
  </p>
  <p>
    <strong>Date published: </strong> <%= @post["published_at"]%> 
  </p>